<form class="mt-4" name="container-Form" method="POST" action="/courses/handle-action-form">
    <h3>My courses</h3>
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
      <input class="form-check-input" id="checkAll" type="checkbox" value="" >
      <label class="form-check-label">
        Chọn tất cả
      </label>
      </div>
      <select class="form-select form-select-lg checkbox-select-all-option" aria-label="Default select example" name="action" required>
        <option value="">---Hành động---</option>
        <option value="delete">Xóa</option>
      </select>
      <button class="btn btn-primary btn-sm disabled btn-check-all-submit">Thực hiện</button>
    </div>
    
    {{#if deleteCount}}
    <a href="/me/trash/courses">Thùng rác ({{deleteCount}})</a>
    {{/if}}
    <table class="table mt-4">
        <thead >
            <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">
                Name
                {{{sortable 'name' _sort}}}
                
            </th>
            <th scope="col">Description {{{sortable 'level' _sort}}}</th>
            <th scope="col" colspan="3">CreatedAt</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input course-item-check" type="checkbox" value="{{this._id}}" name="courseIds[]">
                </div>
              </td>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a class="btn btn-link" href="/courses/{{this._id}}/edit">Sửa</a>
            </td>
            <td>
                <a class="btn btn-link" href="#" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-courses-modal">Xóa</a>
            </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn không có khóa học nào?
                <a href="/courses/create" class="">Đăng kí khóa học.</a>  
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>


<div class="modal fade" id="delete-courses-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Course</h5>
      </div>
      <div class="modal-body">
        <p>Do you delete this course sure ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- DeleteFormHidden --}}
<form name="delete-course-form" method="POST"></form>

<script>
    var CourseId;
    var deleteForm = document.forms['delete-course-form'];
    var containerForm = document.forms['container-Form'];
    
    const btnDeleteCourse = document.getElementById('btn-delete-course');
    var checkAll = document.getElementById('checkAll');
    var courseItemCheck = document.querySelectorAll('.course-item-check')
    var btnCheckAllSubmit = document.querySelector('.btn-check-all-submit')
    
    //When click get ID
    const deleteCoursesModal = document.getElementById('delete-courses-modal')
    if (deleteCoursesModal) {
    deleteCoursesModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        CourseId = button.getAttribute('data-id')
    })
    }
    
    btnDeleteCourse.onclick = function () {
        deleteForm.action = '/courses/' + CourseId + '?_method=DELETE';
        deleteForm.submit();
    }

    

    //Checkbox all changed
    checkAll.onchange = function () {
      var isCheckAll = this.checked 
      if(isCheckAll) {
        for(var courseitemcheck of courseItemCheck) {
          courseitemcheck.checked = isCheckAll
        }
      } else {
        for(var courseitemcheck of courseItemCheck) {
          courseitemcheck.checked = isCheckAll
        }
      }
      showBtnSubmit();
    }

    var i = 0;
    //Course item checked is checkAll changed
    for(var courseitemcheck of courseItemCheck) {
          courseitemcheck.onchange = function () {
            if(this.checked) i = i + 1;
            else i = i - 1;
            if(i === courseItemCheck.length) {
              checkAll.checked = true;
            } else {
              checkAll.checked = false;
            }
            showBtnSubmit();
          }
          
    }

    //Show btn thực hiện
    function showBtnSubmit() {
        var countChecked = i;
        if(countChecked != 0 || checkAll.checked) {
          btnCheckAllSubmit.classList.remove('disabled');
        } else {
          btnCheckAllSubmit.classList.add('disabled');
        }
    }
    
    //Click submit
    btnCheckAllSubmit.onclick = function (e) {
      e.preventDefault();
      var isSubmitable = !btnCheckAllSubmit.classList.contains('disabled');
      if(isSubmitable) {
        containerForm.submit();
      }
    }
    
</script>