<div class="mt-4">
    <h3>Cập nhật khóa học</h3>
    <form method="POST" action="/courses/{{courses._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="text" class="form-control" value="{{courses.name}}" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" id="description" name="description">{{courses.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Videl URL</label>
            <input type="text" class="form-control" value="{{courses.videoId}}" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" value="{{courses.level}}" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>